<div class="three columns">
  <div class="card">
    <%=image_tag("characters/#{object.img}", :alt => "#{object.name}") %>
    <div class="card-container">
      <h3 class="name center"><%= object.name %></h3>
      <input type="hidden" name="<%= object.name %>" value="<%= object.id %>" id="<%= object.id %>">
    </div>
  </div>
</div>
