<div class="flipcard">
  <div class="flipcard-front">
    <%=image_tag("characters/#{object.img}", :alt => "#{object.name}") %>
    <div class="flipcard-container">
      <h6 class="center"><%= object.name %></h6>
    </div>
  </div>
  <div class="flipcard-back">
    <%=image_tag("characters/#{object.img_selected}", :alt => "#{object.name}") %>
    <div class="flipcard-container">
      <h6 class="center"><%= object.name %></h6>
    </div>
  </div>
  <input type="hidden" name="<%= object.name %>" value="<%= object.id %>" id="<%= object.id %>">
</div>
