<form id="option" action="/whatever" method="post">
  <div class="row">
    <div class="six columns">
      <label>Select Character</label>
    </div>
  </div>
  <div class="row">
    <%= render partial: "card", locals: { object: @donald_trump } %>
    <%= render partial: "card", locals: { object: @george_w_bush } %>
    <%= render partial: "card", locals: { object: @hitler } %>
  </div>
  <div class="row">
    <%= render partial: "card", locals: { object: @donald_trump } %>
    <%= render partial: "card", locals: { object: @george_w_bush } %>
    <%= render partial: "card", locals: { object: @hitler } %>
  </div>
  <button type="submit" class="button-primary">Play the Game</button>
</form>
