<div class="three columns">
  <div class="card">
    <%=image_tag("characters/#{object.img}") %>
    <div class="card-container">
      <h3 class="name"><%= object.name %></h3>
      <h6 class="card-title"><%= object.title_1 %></h6>
      <h6 class="card-title"><%= object.title_2 %></h6>
      <input type="hidden" id="<%= object.id %>">
    </div>
  </div>
</div>
