<!DOCTYPE html>
<html>
  <%= render 'head' %>
  <body>
    <div class="container">
      <%= render 'components/loader' %>
      <%= yield %>
      <%= render 'footer' %>
      <%= render 'handlebars' %>
    </div>
  </body>
</html>
